<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console output -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Activity log file -->
    <appender name="ACTIVITY" class="ch.qos.logback.core.FileAppender">
        <file>activity.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>



    <!-- Only log milestone 1 classes
    <logger name="baseNoStates.milestone1" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>-->

    <!-- Only log milestone 2 classes -->
    <logger name="baseNoStates.milestone2" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>-->

    <!-- Log for every class
        <logger name="baseNoStates" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>-->

    <!-- Requests to activity.log file -->
    <logger name="baseNoStates.requests" level="INFO" additivity="false">
        <appender-ref ref="ACTIVITY" />
    </logger>

    <logger name="baseNoStates.WebServer" level="INFO" additivity="false">
        <appender-ref ref="ACTIVITY" />
    </logger>

    <root level="OFF" />
</configuration>
